.container{
  display: grid;
  gap: 10px;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  padding: 16px;
}
 
.container button{
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.page-entering {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.page-entered {
  opacity: 1;
}

